<div class="container">
    <div class="row">
        <div class="col-8">
            
            <h1 class="text-center">Account Statement</h1>
            <div class=" d-flex justify-content-end align-items-end">
            <div class="btn-group p-2" style="text-align: center;" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">All</button>
                <button type="button" class="btn btn-primary">Debit</button>
                <button type="button" class="btn btn-primary">Credit</button>
              </div>
            </div>
            <table class="table-bordered  container">
                
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Amount</th>
                       
                        <th>Date</th>
                       
                    </tr>
                </thead>
                <tbody >
    
                </tbody>
            </table>
            <div class="p-2">
            <button type="button" class="btn btn-primary">EXport AS <i class="fa-solid fa-file-pdf"></i></button>
        </div>
        </div>
        <div class="col-4">
            <img src="https://i.postimg.cc/J0W3QZ0T/ops.png" width="100%" >
            <div class=" d-flex justify-content-center align-items-center p-2"> <button type="button" class="btn btn-primary">Home <i class="fa-solid fa-house-chimney"></i></button></div>
           

        </div>
    </div>

</div>