<div class="container-fluid" style="background-image:url(https://i.postimg.cc/CLpp9fk6/ioil.jpg;);background-size: cover;">
    <section class="d-flex">
      <div class="container-fluid h-custom" >
        <div class="row d-flex justify-content-center align-items-center p-4 " >
         
          
          <div class="col-md-8 col-lg-6 col-xl-4  m-5" style="border-radius: 20px;border: 2px solid black">
            <form class="">
              <div class="d-flex flex-row align-items-center justify-content-center">
                <h2 class="text-center">Sign In</h2>
            
              </div>
    
      
    
             
              <div class="form-outline mb-4 mt-2">
                <input type="text" id="acno" name="accountno" class="form-control form-control-lg"
                  placeholder="Enter Account No" />
               
              </div>
              <div class="form-outline mb-4 mt-2">
                <input type="text" id="user"  name="username" class="form-control form-control-lg"
                  placeholder="Enter User Name" />
               
              </div>
              
              <div class="form-outline mb-4 mt-2">
                <input type="password" id="pass" name="password" class="form-control form-control-lg"
                  placeholder="Enter a password" />
               
              </div>
    
              
              <div class="form-outline mb-3">
                <input type="password" id="cpass" name="cpass" class="form-control form-control-lg"
                  placeholder="confirm password" /> 
              
              </div>
    
              
    
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button"  class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Go to <a href="#!"
                    class="link-danger">Login</a></p>
              </div>
    
            </form>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4  p-4 m-5">
            <img id="d" src="https://i.postimg.cc/QCVy5Pp0/pngt-removebg-preview.png" class="d-block w-100" >
          </div>
        </div>
      </div>
      
    </section>
  </div>