<div class="container-fluid">
    <section class=" d-flex">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <h2 class="text-center">Welcome To <span class="text-warning">Personal</span> Bank</h2>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ullam sit, provident quasi veritatis rem eligendi quaerat inventore praesentium sint dolorem corporis aliquam assumenda repudiandae iste similique unde eos quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, veritatis doloribus neque recusandae accusantium autem qui aliquam non blanditiis impedit quidem deserunt eum odit temporibus cupiditate, repellat, officiis consequatur maiores!Login</p>
                </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
                <img src="https://i.postimg.cc/J0W3QZ0T/ops.png" width="100%" >
                </div>
            
           
          
          <div class="">
            <div class="col-md-12 ">
                <div class="row ">
                   
                    <div class="col-xl-3 col-lg-6 p-1">
                      
                        <div class="card bg-c-blue">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large text-white d-flex justify-content-center align-items-center mt-1"><i class="fa-solid fa-user fa-2xl"></i></div>
                                <div class="mt-3 d-flex justify-content-center align-items-center"  id="d">
                                    <button class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="click"><h4> Account Details  <i class="fa-solid fa-share-from-square"></i></h4></button> 
                                </div>
                              
                                   
                            </div>
                        </div>
                  
                    </div>
                

                    <div class="col-xl-3 col-lg-6 p-1">
                        <div class="card bg-c-green">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large text-white d-flex justify-content-center align-items-center mt-1"><i class="fa-solid fa-ticket-alt fa-2xl"></i></div>
                                <div class="mt-3 d-flex justify-content-center align-items-center"  id="d">
                                    <button class="btn text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><h4> Balance <i class="fa-solid fa-share-from-square"></i></h4></button> 
                                </div>
                               
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 p-1">
                        <div class="card bg-c-yellow">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large text-white d-flex justify-content-center align-items-center mt-1"><i class="fa-solid fa-file-invoice fa-2xl"></i></div>
                                <div class="mt-3 d-flex justify-content-center align-items-center"  id="d">
                                    <button class="btn text-white" ><h4><a class="text-white" href="statement">Account Statement <i class="fa-solid fa-share-from-square"></i></a></h4></button> 
                                </div>
                               
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 p-1">
                        <div class="card bg-c-pink">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large text-white d-flex justify-content-center align-items-center mt-1"><i class="fa-solid fa-right-left fa-2xl"></i></div>
                                <div class="mt-3 d-flex justify-content-center align-items-center"  id="d">
                                    <button class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal1" alt="click"><h4>Transfer Money <i class="fa-solid fa-share-from-square"></i></h4></button> 
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 p-1" id="d">
                        <div class="card l-bg-orange-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-file-invoice"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Mini Statement</h5>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                  
                    <div class="col-xl-3 col-lg-6 p-1" id="d">
                        <div class="card l-bg-orange-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-book"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Pass Book</h5>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 p-1" id="d">
                        <div class="card l-bg-orange-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-right-left"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">Transactions</h5>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 p-1" id="d">
                        <div class="card l-bg-orange-dark">
                            <div class="card-statistic-3 p-4">
                                <div class="card-icon card-icon-large"><i class="fas fa-ellipsis"></i></div>
                                <div class="mb-4">
                                    <h5 class="card-title mb-0">More</h5>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                </div>
            </div>
          </div>
        </div>


        
      </div>
      
    </section>
  </div>




<!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <section style="background-color: #eee;">
                <div class="container">
                  <div class="row d-flex justify-content-center align-items-center">
                  
              
                      <div class="card">
                        <div class="card-body text-center">
                          <div class="mt-3 mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                              class="rounded-circle img-fluid" style="width: 100px;" />
                          </div>
                          <h4 class="mb-2">Julie L. Arsenault</h4>
                          <p class="text-muted mb-4">@Programmer <span class="mx-2">|</span> <a
                              href="#!">mdbootstrap.com</a></p>
                        
                          <div class="d-flex text-center justify-content-center align-items-center">
                            <div >
                                <p class="text-muted mb-0">Account Number</p>
                              <p class="">8471</p>
                            
                            </div>
                           
                          </div>
                        </div>
                      </div>
              
                    </div>
                  </div>
               
              </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>







<!-- offcanvas -->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvasExampleLabel">Balance Details</h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="p-3">
            <img class="w-100" src="https://i.postimg.cc/TP5Hjttg/Png-Item-7788692.png" alt="">
        </div>
      <div class="p-2">
       Your account balance is 
       <h4>2099.00</h4>
      </div>
      <div class="dropdown mt-3">
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul> -->
      </div>
    </div>
  </div>




  <!-- modal 2 -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Transfer Money</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
                          <div class="">
                            <img src="https://i.postimg.cc/tC0SydC4/png-removebg-preview.png"
                              class="w-100"  />
                          </div>
                         
                          <form class="">
                           <div class="form-outline mb-3">
                              <input type="text" id="racno" name="raccountno" class="form-control form-control-lg"
                                placeholder="Recipient Account No" />
                             
                            </div>
                            <div class="form-outline mb-3">
                              <input type="text" id="amt"  name="amount" class="form-control form-control-lg"
                                placeholder="Amount To Transfer" />
                             
                            </div>
                            
                            <div class="form-outline mb-3">
                              <input type="password" id="pass" name="password" class="form-control form-control-lg"
                                placeholder="Password" />
                             
                            </div>
                  
                            
                            
                            
                  
                            <div class="text-center text-lg-start mt-4 pt-2">
                              <button type="button" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Transfer</button>
                             
                            </div>
                  
                          </form>
                      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>
